module.exports = {
    'aws' : {
        'accessKeyId': 'AKI_HERE',
        'secretAccessKey': 'SECRET_ACCESS_KEY_HERE',
        'region': 'REGION_HERE'
    },

    'cognito' : {
        'poolRegion' : 'REGION_HERE',
        'userPoolId' : 'POOL_ID_HERE',
        'userPoolArn' : 'POOL_ARN_HERE',
        'appClientId' : 'APP_CLIENT_ID_HERE'
    },

    'facebookAuth' : {
        'clientID'      : 'CLIENT_ID_HERE',
        'clientSecret'  : 'CLIENT_SECRET_HERE',
        'callbackURL'     : 'http://localhost:4000/api/auth/facebook/callback',
        'profileURL': 'https://graph.facebook.com/v2.5/me?fields=first_name,last_name,email'
    },

    'twitterAuth' : {
        'consumerKey'        : 'CONSUMER_KEY_HERE',
        'consumerSecret'     : 'CONSUMER_SECRET_HERE',
        'callbackURL'        : 'http://localhost:4000/auth/twitter/callback'
    },

    'googleAuth' : {
        'clientID'      : 'CLIENT_ID_HERE',
        'clientSecret'     : 'CLIENT_SECRET_HERE',
        'callbackURL'      : 'http://localhost:4000/auth/google/callback'
    },

    'amazonAuth' : {
        'clientID'      : 'CLIENT_ID_HERE',
        'clientSecret'     : 'CLIENT_SECRET_HERE',
        'appID' : 'APP_ID_HERE',
        'releaseID' : 'RELEASE_ID_HERE',
        'callbackURL'      : 'http://localhost:4000/auth/amazon/callback'
    },

    'test' : {
        'apiServerURI' : "http://localhost:4000/api/v1"
    },
};
